In [1]:
%matplotlib inline
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
from pprint import pprint

In [2]:
df_IR_mortgage_thirty = pd.read_csv('MORTGAGE30US.csv')
df_IR_mortgage_thirty.head()

         DATE  VALUE
0  1971-04-02   7.33
1  1971-04-09   7.31
2  1971-04-16   7.31
3  1971-04-23   7.31
4  1971-04-30   7.29

In [3]:
# Grab only data from 2013 onwards
df_IR_mortgage_thirty = df_IR_mortgage_thirty.truncate(before=2214)

# Remove day from data to allow groupby
df_IR_mortgage_thirty['DATE'] = df_IR_mortgage_thirty['DATE'].str[:-3]

In [4]:
# Group by date, this way you can grab the 
# timepoints the group has agreed on

df_mortgage_gb_month = df_IR_mortgage_thirty.groupby(['DATE'])
grouped_mortgage_month = df_mortgage_gb_month.mean()
grouped_mortgage_month.reset_index()

       DATE   VALUE
0   2013-09  4.4900
1   2013-10  4.1920
2   2013-11  4.2550
3   2013-12  4.4575
4   2014-01  4.4320
5   2014-02  4.3025
6   2014-03  4.3425
7   2014-04  4.3375
8   2014-05  4.1920
9   2014-06  4.1625
10  2014-07  4.1300
11  2014-08  4.1150
12  2014-09  4.1625
13  2014-10  4.0360
14  2014-11  3.9975
15  2014-12  3.8640
16  2015-01  3.6700
17  2015-02  3.7100
18  2015-03  3.7700
19  2015-04  3.6720
20  2015-05  3.8400
21  2015-06  3.9825
22  2015-07  4.0460
23  2015-08  3.9050
24  2015-09  3.8900
25  2015-10  3.7960
26  2015-11  3.9425
27  2015-12  3.9640
28  2016-01  3.8725
29  2016-02  3.6600
..      ...     ...
34  2016-07  3.4400
35  2016-08  3.4350
36  2016-09  3.4600
37  2016-10  3.4700
38  2016-11  3.7700
39  2016-12  4.1980
40  2017-01  4.1500
41  2017-02  4.1675
42  2017-03  4.1960
43  2017-04  4.0450
44  2017-05  4.0100
45  2017-06  3.9040
46  2017-07  3.9675
47  2017-08  3.8800
48  2017-09  3.8050
49  2017-10  3.8950
50  2017-11  3.9220
51  2017-12  3.9500
52  2018-01  4.0325
53  2018-02  4.3300
54  2018-03  4.4440
55  2018-04  4.4675
56  2018-05  4.5860
57  2018-06  4.5700
58  2018-07  4.5275
59  2018-08  4.5500
60  2018-09  4.6275
61  2018-10  4.8300
62  2018-11  4.8660
63  2018-12  4.7500

[64 rows x 2 columns]

In [5]:
grouped_mortgage_month = grouped_mortgage_month.iloc[::3,:]
grouped_mortgage_month.reset_index()

       DATE   VALUE
0   2013-09  4.4900
1   2013-12  4.4575
2   2014-03  4.3425
3   2014-06  4.1625
4   2014-09  4.1625
5   2014-12  3.8640
6   2015-03  3.7700
7   2015-06  3.9825
8   2015-09  3.8900
9   2015-12  3.9640
10  2016-03  3.6940
11  2016-06  3.5680
12  2016-09  3.4600
13  2016-12  4.1980
14  2017-03  4.1960
15  2017-06  3.9040
16  2017-09  3.8050
17  2017-12  3.9500
18  2018-03  4.4440
19  2018-06  4.5700
20  2018-09  4.6275
21  2018-12  4.7500

# Show the Austin Median Income

# Show the National Median Income

# Transform both dataframes
* Transform the household income dataframes by multiplying the median household income by 0.3, and then dividing by 12.
* This will allow us to compare directly between the median household income and the monthly mortgage payments.
* In THEORY, monthly mortgage payments SHOULD be higher than the transformed median household income, proving that Austin is not affordable

# Show the Austin Household Sale Price

# Show the National Household Sale Price

# Transform both dataframes
* This is where it gets tricky. Both dataframes have the correct timepoints, but you need to transform this one a little differently:
    * Assume a 20% down payment. So first, multiply that month's sale price by 80% to get the loan amount. 
    * Next, grab the interest rate for that month and divide by 12. This'll give you the monthly interest rate for that month. This makes sense, because we're assuming houses bought for that specific month will have a 30-year, fixed interest rate. 
    * Divide that monthly interest rate by (1 - (1 + monthly_IR ** -360)). Then, multiply the loan amount with this quotient. Do that for the whole table, and you have your transformed dataset

# Plot Austin transformed median household income v. monthly mortgage payments

# Plot national transformed median household income v. monthly mortgage payments