In [1]:
%matplotlib inline
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
from pprint import pprint

In [2]:
df_household_income = pd.read_csv('Data USA - Bar Chart of Household Income in Austin, Tx.csv')
df_household_income

,year,geo_name,geo,income_100to125,income_100to125_moe,income_10to15,income_10to15_moe,income_125to150,income_125to150_moe,income_150to200,...,income_50to60,income_50to60_moe,income_60to75,income_60to75_moe,income_75to100,income_75to100_moe,income_under10,income_under10_moe,totalhouseholds,totalhouseholds_moe
0,2013,United States,01000US,9326850.0,40023.0,6246220.0,40738.0,5423050.0,38313.0,5644220.0,...,9201120.0,54177.0,11619400.0,48912.0,13823800.0,56657.0,8783120.0,42582.0,116291000.0,141632.0
1,2014,United States,01000US,9609100.0,46394.0,6160920.0,37283.0,5719980.0,35343.0,6043690.0,...,9208590.0,42680.0,11677200.0,54318.0,14102600.0,52211.0,8536750.0,46704.0,117259000.0,146938.0
2,2015,United States,01000US,10008000.0,54513.0,5861100.0,32312.0,6023010.0,38702.0,6485420.0,...,9176190.0,46722.0,11892100.0,54257.0,14471300.0,60073.0,8104550.0,41338.0,118208000.0,155130.0
3,2016,United States,01000US,10312800.0,48680.0,5699550.0,37903.0,6355020.0,35190.0,6924910.0,...,9209030.0,49801.0,11850400.0,49099.0,14673000.0,70478.0,7963780.0,44419.0,118860000.0,154606.0
4,2013,"Austin, TX",16000US4805000,30086.0,3010.0,14342.0,2211.0,18842.0,1913.0,17108.0,...,27245.0,2927.0,36530.0,3189.0,40216.0,3835.0,27592.0,2914.0,349200.0,5054.0
5,2014,"Austin, TX",16000US4805000,33892.0,2807.0,14952.0,2236.0,14491.0,2040.0,21618.0,...,30536.0,2682.0,35548.0,3082.0,46045.0,3782.0,25899.0,2565.0,360996.0,4783.0
6,2015,"Austin, TX",16000US4805000,30680.0,2828.0,12902.0,1953.0,19995.0,2373.0,24373.0,...,29588.0,3101.0,38259.0,3133.0,46408.0,3052.0,21130.0,2530.0,364893.0,4984.0
7,2016,"Austin, TX",16000US4805000,39003.0,3612.0,10933.0,1731.0,20141.0,2284.0,25450.0,...,29467.0,2827.0,38872.0,3859.0,47086.0,3335.0,23283.0,2902.0,372327.0,5397.0

In [3]:
df_household_income = df_household_income.loc[:, ~df_household_income.columns.str.endswith('_moe')]
df_household_income

,year,geo_name,geo,income_100to125,income_10to15,income_125to150,income_150to200,income_15to20,income_200over,income_20to25,income_25to30,income_30to35,income_35to40,income_40to45,income_45to50,income_50to60,income_60to75,income_75to100,income_under10,totalhouseholds
0,2013,United States,01000US,9326850.0,6246220.0,5423050.0,5644220.0,6199800.0,5842620.0,6375880.0,5905620.0,6058650.0,5484000.0,5506750.0,4849960.0,9201120.0,11619400.0,13823800.0,8783120.0,116291000.0
1,2014,United States,01000US,9609100.0,6160920.0,5719980.0,6043690.0,6090410.0,6263550.0,6265410.0,5819450.0,5964960.0,5497990.0,5460650.0,4838190.0,9208590.0,11677200.0,14102600.0,8536750.0,117259000.0
2,2015,United States,01000US,10008000.0,5861100.0,6023010.0,6485420.0,5903590.0,6852160.0,6185670.0,5647120.0,5955340.0,5398760.0,5408340.0,4835550.0,9176190.0,11892100.0,14471300.0,8104550.0,118208000.0
3,2016,United States,01000US,10312800.0,5699550.0,6355020.0,6924910.0,5615370.0,7595040.0,5928370.0,5501900.0,5777900.0,5338200.0,5380240.0,4734620.0,9209030.0,11850400.0,14673000.0,7963780.0,118860000.0
4,2013,"Austin, TX",16000US4805000,30086.0,14342.0,18842.0,17108.0,14046.0,21841.0,17348.0,16138.0,18734.0,18817.0,16536.0,13779.0,27245.0,36530.0,40216.0,27592.0,349200.0
5,2014,"Austin, TX",16000US4805000,33892.0,14952.0,14491.0,21618.0,13857.0,25489.0,20171.0,14016.0,15170.0,18277.0,16871.0,14164.0,30536.0,35548.0,46045.0,25899.0,360996.0
6,2015,"Austin, TX",16000US4805000,30680.0,12902.0,19995.0,24373.0,12743.0,30947.0,17200.0,14797.0,17829.0,16727.0,16989.0,14326.0,29588.0,38259.0,46408.0,21130.0,364893.0
7,2016,"Austin, TX",16000US4805000,39003.0,10933.0,20141.0,25450.0,10936.0,35158.0,15008.0,16341.0,15204.0,14430.0,14800.0,16215.0,29467.0,38872.0,47086.0,23283.0,372327.0